main {
	max-width: 1600px;
	margin: 0 auto;
}

div {
	width: 400px;
	height: 250px;
	background: #000;
	float: left;
}

p {
	text-align: center;
	line-height: 250px;
	margin: 0;
	font-family: "Baloo Bhaina" , sans-serif;
	font-size: 24px;
}

